<div id="messages"></div>
<br/>

<div class="field">
  <label>Username</label>
  <input id="username" type="text" />
</div>

<div class="field">
  <label>Message</label>
  <input id="message" type="text" />
</div>
